<h1>Mes vaisseaux</h1>
<a routerLink="/vaisseaux/ajout">Ajouter un vaisseau</a>
<table class="table">
  <thead>
    <th>Nom</th>
    <th>Model</th>
    <th>Plus rapide que la lumière</th>
    <th>Nombre de passagers</th>
  </thead>
  <tbody>
    <tr *ngFor="let vaisseau of this.vaisseaux">
      <td>{{ vaisseau.nom }}</td>
      <td>{{ vaisseau.model }}</td>
      <td>{{ vaisseau.lightSpeed?'oui':'non' }}</td>
      <td>{{ vaisseau.nbPassenger }}</td>
    </tr>
  </tbody>
</table>
