<h1>Mes planettes</h1>

<!-- routerLink : Equivalent d'un attribut href sur du html. En revanche,
  il est spécifique à Angular et permet de faire une navigation fluide sans rechargement de page
    Il prendra en valeur le lien qui le chargera le composant adéquat dans le fichier app-routing.module.ts
  Syntaxe 1 :
-->

<a routerLink="/planets/ajout">Ajouter une planète</a>
<!--
Syntaxe 2 :

<a [routerLink]="['/planets/ajout']"> Ajouter une planète</a>
-->



<!--Ici nous avons l'utilisation de la pipe date.
    Sert à formatter une données sans la modifier. Ici, le pipe date nous
    affichera une date user friendly (30/03/1993) par exemple.
    Si on utilise des pipes que l'on a créé il ne faut pas oublier de vérifier
    qu'elles soient présentes dans le fichier app.module.ts.
    Ici, il s'agit d'une pipe native Angular donc pas besoin d'import.
    La pipe date prend en paramètre le format que l'on souhaite affiché.
    cf : documentation pipe date
    https://angular.io/api/common/DatePipe
-->
Bonjour nous sommes le : {{ date | date: "dd/MM/yyyy" }}
<table class="table">
  <thead>
  <th>Nom</th>
  <th>Nombre d'habitant</th>
  <th>Allegiance</th>
  <th>Nombre de km depuis la terre</th>
  <th>Action</th>
  </thead>
  <tbody>
  <!-- Equivalent d'une boucle for en Javascript (directive angular).
    Elle définira une variable qui sera l'élément courant de chaque itération.
    this.planets correspondra à notre tableau de planets contenu dans le fichier planets.component.ts.
    Dans l'exemple ci-dessous une ligne de tableau sera affichée pour chaque planète.
  -->
  <tr *ngFor="let planet of this.planets">
    <!-- Utilisation d'une pipe native Angular pour afficher du texte en majuscule
      https://angular.io/api/common/UpperCasePipe
    -->
    <td>{{ planet.nom | uppercase }}</td>
    <td>{{ planet.nbHabitant }}</td>
    <td>{{ planet.allegiance }}</td>
    <td>{{ planet.nbKmTerre }}</td>
    <td>
      <!-- [RouterLink] permetta une navigation vers une URL avec des paramètres
          Ici, dans une boucle for, il permettra d'afficher un lien spécifique pour chaque planète.
          Ce lien contiendra l'id de la planète de l'itération courante.
      -->
      <a [routerLink]="['/planets', planet.id]">Voir le détail de la planète {{ planet.name }}</a>
      <!-- Même chose que ligne du dessus -->
      <a [routerLink]="['/planets/update', planet.id]">Editer la planète</a>
     <!-- On utilise ici un événement onClick. Il appélera la fonction deletePlanet du fichier planets.component.ts
      Cette fonction prendra en paramètre l'objet planet de notre itération for courante
      -->
      <a style="text-decoration: underline; color: blue; cursor: pointer" (click)="deletePlanete(planet)">Supprimer la planète {{ planet.nom }}</a>
    </td>
  </tr>
  </tbody>
</table>


