<h1>Ajouter une planète</h1>

<!--
Balise form avec une variable de validation de notre formulaire qui est créé planeteForm (#planetForm="ngForm")
Cette variable nous servira pas exemple à caché le bouton submit tant que le formulaire
ne sera pas valid ([disabled]="!planetForm.valid")
On a aussi la propriété submitPlanet() qui appelera la fonction submitPlanet de notre composant add-planet.component.ts
-->

<form #planetForm="ngForm" (ngSubmit)="submitPlanet()">

  <label for="id">Id de la planète</label>
  <input type="number" class="form-control" id="id"  name="id" required [(ngModel)]="planet.id"  #id="ngModel">
  <div [hidden]="id.valid"
       class="alert alert-danger">
    Veuillez saisir l'ID
  </div>

  <!--
  On retrouve ici un input avec des règles da validation (minlengtg, required). Ces règles nous permettront de définir une variable qui
  servira à la validation de notre input (#nom="ngModel").
  On utilisera cette validation afin de cacher ou afficher une div tant que le contenu ne sera pas valid
  -->
  <label for="nom">Nom de la planète</label>
  <input type="text" class="form-control" id="nom" name="nom" minlength="10" required [(ngModel)]="planet.nom" #nom="ngModel">
  <div [hidden]="nom.valid"
       class="alert alert-danger">
    Nom invalide
  </div>

  <label for="nombreHabitant">Nombre d'habitants</label>
  <input type="number" class="form-control" id="nombreHabitant" name="nombreHabitant" [(ngModel)]="planet.nbHabitant" #nbHabitant="ngModel">
  <div [hidden]="nbHabitant.valid"
       class="alert alert-danger">
    Nombre de km invalid
  </div>

  <label for="distanceTerre">Distance de la terre</label>
  <input type="number" class="form-control" id="distanceTerre" name="distanceTerre" [(ngModel)]="planet.nbKmTerre" #nbKmTerre="ngModel">
  <div [hidden]="nbKmTerre.valid"
       class="alert alert-danger">
    Distance de la terre invalid
  </div>

  <label for="allegiance">Allegiance</label>
  <input type="text" class="form-control" id="allegiance" name="allegiance" [(ngModel)]="planet.allegiance" #allegiance="ngModel">
  <div [hidden]="allegiance.valid"
       class="alert alert-danger">
    Allegiance invalide
  </div>

  <label for="photo">Photo de la planète</label>
  <input type="text" class="form-control" id="photo" name="photo" [(ngModel)]="planet.photo" #photo="ngModel">
  <div [hidden]="photo.valid"
       class="alert alert-danger">
    Photo invalide
  </div>

  <!--Ce bouton enclanchera le ngSubmit de notre formulaire. Dans notre cas, il appellera la fonction submitPlanet() de notre composant add-planet.component.ts-->
  <input [hidden]="!planetForm.valid" type="submit">
</form>
