<h1>Modifier une planète</h1>
<!--SAME AS ADD PLANET WITHOUT ID
  Si on fait du copier collé ne pas oublié d'ajouter la fonction dans le edit-planet.component.ts
-->
<form #planetForm="ngForm" (ngSubmit)="editPlanet()">

  <label for="nom">Nom de la planète</label>
  <input type="text" class="form-control" id="nom" name="nom" required [(ngModel)]="planet.nom" #nom="ngModel">
  <div [hidden]="nom.valid"
       class="alert alert-danger">
    Nom invalide
  </div>

  <label for="nombreHabitant">Nombre d'habitants</label>
  <input type="number" class="form-control" id="nombreHabitant" name="nombreHabitant" [(ngModel)]="planet.nbHabitant" #nbHabitant="ngModel">
  <div [hidden]="nbHabitant.valid"
       class="alert alert-danger">
    Nombre de km invalid
  </div>

  <label for="distanceTerre">Distance de la terre</label>
  <input type="number" class="form-control" id="distanceTerre" name="distanceTerre" [(ngModel)]="planet.nbKmTerre" #nbKmTerre="ngModel">
  <div [hidden]="nbKmTerre.valid"
       class="alert alert-danger">
    Distance de la terre invalid
  </div>

  <label for="allegiance">Allegiance</label>
  <input type="text" class="form-control" id="allegiance" name="allegiance" [(ngModel)]="planet.allegiance" #allegiance="ngModel">
  <div [hidden]="allegiance.valid"
       class="alert alert-danger">
    Allegiance invalide
  </div>

  <label for="photo">Photo de la planète</label>
  <input type="text" class="form-control" id="photo" name="photo" [(ngModel)]="planet.photo" #photo="ngModel">
  <div [hidden]="photo.valid"
       class="alert alert-danger">
    Photo invalide
  </div>

  <input [disabled]="!planetForm.valid" type="submit">
</form>
